# Ignore the .terraform directory
.terraform/

# Ignore the local state file (use remote state instead)
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log
crash.*.log

# Ignore terraform lock files
*.lock.hcl

# Never commit env files that may contain secrets
.env

# Never commit UV junk
.venv/
__pycache__
*.pyc
*.pyo

# Misc OS 
.DS_Store

.cursor
